* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.swiperContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.swiperContainer .swiper {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.2s;
}

.swiper .download {
    position: absolute;
    padding: 6px;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: #fefefe;
    border-radius: 4px;
    fill: #000000;
    cursor: pointer;
    transition: 0.2s;
    z-index: 100;
}

.swiper .download path {
    pointer-events: none;
}

.swiper .download:hover {
    padding: 4px;
}

.swiper .download:active {
    background: rgba(254, 254, 254, 0.8);
}

.swiper .swiper-wrapper {
    position: relative;
}

.swiper .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: auto;
    height: 100%;
    cursor: grab;
    user-select: none;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    background: #fefefe;
}

.cardContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 211, 219, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(254, 254, 254, 0.8);
    background: rgba(254, 254, 254, 0.5);
    transform: rotate(45deg);
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #ffffff;
    border-radius: 0 10px 10px 0;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 1s;
}

.card.active {
    transform: translateX(50%);
}

.card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 1s;
    z-index: 1;
    overflow: hidden;
}

.card.active .imgBox {
    transform: rotateY(-180deg);
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.2);
}

.card .imgBox .glass {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 1s;
}

.card.active .imgBox .glass {
    z-index: 0;
}

.card .imgBox .glass .open {
    position: relative;
    width: 120px;
    height: 40px;
    background: rgba(254, 254, 254, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    border-top: 1px solid rgba(254, 254, 254, 0.8);
    border-left: 1px solid rgba(254, 254, 254, 0.8);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgba(45, 74, 82, 0.8);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
}

.card:hover .imgBox .glass .open {
    transform: translateY(0);
    opacity: 1;
}

.card.active .imgBox .glass .open {
    pointer-events: none;
}

.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    user-select: none;
}

.card .details {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card .details .line {
    position: absolute;
    left: calc(-50% + 2px);
    top: 50%;
    width: 100%;
    height: 4px;
    transform: rotate(90deg);
    background: linear-gradient(90deg, #000 0%, #000 50%, transparent 50%, transparent 100%);
    background-size: 40px;
}

.card .details .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card.active .details .content {
    animation: to-top 1s forwards;
}

@keyframes to-top {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card .details .content .greet {
    position: relative;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    user-select: none;
}

.card .details .content img {
    position: relative;
    margin: 8px 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    user-select: none;
}

.card .details .content .englishName {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    user-select: none;
}

.card .details .content .job {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(218, 112, 115);
    text-decoration: underline;
    user-select: none;
}

.card .details .content .cv {
    position: relative;
    margin: 8px 0;
    width: 150px;
    height: 40px;
    border: 1px solid rgba(83, 112, 114, 0.2);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(83, 112, 114, 0.8);
    background: rgba(243, 234, 219, 1);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
}

.card .details .content .cv:hover {
    letter-spacing: 2px;
    background: rgba(243, 234, 219, 0.5);
}

.card .details .content .mobile {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
}

.card .details .content .mobile svg {
    position: relative;
    margin: 8px;
    width: 24px;
    height: 24px;
    fill: #8e9b97;
}

.card .details .content .mobile span {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #000000;
}

.card .details .content .mail {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
}

.card .details .content .mail svg {
    position: relative;
    margin: 8px;
    width: 24px;
    height: 24px;
    fill: #8e9b97;
}

.card .details .content .mail span {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #000000;
}

@media (max-width: 768px) {
    .card.active .imgBox {
        opacity: 0;
    }

    .card.active {
        transform: translateX(0);
    }
}

@media (max-width: 414px) {
    .swiper .download {
        background: rgba(0, 0, 0, 0.8);
        fill: #fefefe;
    }

    .swiper .download:active {
        background: rgba(0, 0, 0, 0.5);
    }

    .swiper .swiper-wrapper .swiper-slide img {
        width: 100%;
        height: auto;
    }

    .swiper .swiper-pagination .swiper-pagination-bullet {
        background: rgba(0, 0, 0, 0.5);
    }
}